.main{width: 100%;max-width: 1000px; min-width: 320px;margin:40px auto;}
.main aside{width: 27%;float: left;border-right: 1px solid #bbb;}
.main aside ul{width: 100%;}
.main aside ul li{width: 90%;margin-right: 10%;border-bottom: 3px solid white;}
.main aside ul li a{display: block;height: 48px;padding-top: 29px;width: 64%;padding-left: 36%;font-size: 22px;color: #222;}
.main aside ul li:nth-child(1){background: url(../img/service_03.jpg)no-repeat 20px center;}
.main aside ul li:nth-child(2){background: url(../img/service_05.jpg)no-repeat 20px center;}
.main aside ul li:nth-child(3){background: url(../img/service_08.jpg)no-repeat 20px center;}
.main aside ul li:nth-child(4){background: url(../img/service_11.jpg)no-repeat 20px center; border-bottom: 3px solid #fa9634;}
.main aside ul li:nth-child(2):hover{background: url(../img/service_06.jpg)no-repeat 20px center;border-bottom: 3px solid #fa9634;}
.main aside ul li:nth-child(3):hover{background: url(../img/service_09.jpg)no-repeat 20px center;border-bottom: 3px solid #fa9634;}
.main aside ul li:nth-child(1):hover{background: url(../img/service_04.jpg)no-repeat 20px center;border-bottom: 3px solid #fa9634;}

.main section{width: 68%;float: left;margin-left: 4.5%;padding-bottom: 100px;}
.main section h4{width: 100%;font-size: 18px;font-weight: bold;margin-top: 13px;margin-bottom: 7px;color: #fa9634;}
.main section h4:nth-of-type(1){margin-top: 0;}
.main section p{width: 100%;line-height: 27px;font-size: 16px;color: #222;}
.main section ul{width: 100%;font-size: 16px;margin-top: 13px;}
.main section ul li{width: 100%;margin-top: 13px;line-height: 28px;font-size: 16px;color: #222;}

@media screen and (max-width: 1000px) {
	.main aside{padding-left: 2%;}
	.main section{width: 64.9%;padding-right: 1%;}
}
@media screen and (max-width: 720px) and (min-width:480px){
	.main aside{width: 90%;clear: both;padding-left: 5%;border-right: none;}
	.main aside ul li{width: 23%;margin-right: 2%; float: left;margin-bottom: 20px;}
	.main aside ul li:nth-of-type(4){margin-right: 0;}
	.main aside ul li a{padding-top: 49px; width: 100%;text-align: center;padding-left: 0;}
	.main aside ul li:nth-child(1){background: url(../img/service_03.jpg)no-repeat center top;}
	.main aside ul li:nth-child(2){background: url(../img/service_05.jpg)no-repeat center top;}
	.main aside ul li:nth-child(3){background: url(../img/service_08.jpg)no-repeat center top;}
	.main aside ul li:nth-child(4){background: url(../img/service_11.jpg)no-repeat center top; border-bottom: 3px solid #fa9634;}
	.main aside ul li:nth-child(2):hover{background: url(../img/service_06.jpg)no-repeat center top;border-bottom: 3px solid #fa9634;}
	.main aside ul li:nth-child(3):hover{background: url(../img/service_09.jpg)no-repeat center top;border-bottom: 3px solid #fa9634;}
	.main aside ul li:nth-child(1):hover{background: url(../img/service_04.jpg)no-repeat center top;border-bottom: 3px solid #fa9634;}
	
	.main section{width: 90%; margin-left:6%;clear: both;}
	.main section ul li{ text-indent: 32px;}
}

@media screen and (max-width: 480px){
	.main aside{width: 90%;clear: both;padding-left: 5%;border-right: none;}
	.main aside ul li{width: 23%;margin-right: 2%; float: left;margin-bottom: 20px;}
	.main aside ul li:nth-of-type(4){margin-right: 0;}
	.main aside ul li a{padding-top: 49px; width: 100%;text-align: center;padding-left: 0;}
	.main aside ul li a span{display: none;}
	.main aside ul li:nth-child(1){background: url(../img/service_03.jpg)no-repeat center top;}
	.main aside ul li:nth-child(2){background: url(../img/service_05.jpg)no-repeat center top;}
	.main aside ul li:nth-child(3){background: url(../img/service_08.jpg)no-repeat center top;}
	.main aside ul li:nth-child(4){background: url(../img/service_11.jpg)no-repeat center top; border-bottom: 3px solid #fa9634;}
	.main aside ul li:nth-child(2):hover{background: url(../img/service_06.jpg)no-repeat center top;border-bottom: 3px solid #fa9634;}
	.main aside ul li:nth-child(3):hover{background: url(../img/service_09.jpg)no-repeat center top;border-bottom: 3px solid #fa9634;}
	.main aside ul li:nth-child(1):hover{background: url(../img/service_04.jpg)no-repeat center top;border-bottom: 3px solid #fa9634;}
	
	.main section{width: 90%;margin-left:6%;clear: both;}
	.main section ul li{ text-indent: 32px;}
	
}